// Footer
.footer {
    p {
        text-align: center;
        a {
            text-decoration: none;
            color: $very-dark-magenta;
            font-weight: 700;
        }
    }
}
// End of footer