// Padding & margin
.padding-top-bottom-section {
    padding-top: 50px;
    padding-bottom: 50px;
}

// Fonts
.font-weight-700 {
    font-weight: 700;
}

// Color & Background-color
.very-dark-magenta-color {
    color: $very-dark-magenta;
}

.very-dark-magenta-bg-color {
    background-color: $very-dark-magenta;
}

// Border
.radius-10{
    border-radius: 10px;
}